<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<title th:text="${pseudonym}">Default</title>
	<meta charset="UTF-8">
	
	<body >
		<h3>
			<a href=""> Page A  </a> | 
			<a href="">     Page B     </a>
			<br>			
		</h3>
		
		<br>
		
		<h1>Pages:</h1>
		<div> 
			<a href="describtion"> Describtion</a>
		</div>
		<div>
			<a href="statistics"> Statistics</a>
		</div>
		<div> 
			<a href=""> Files</a>
		</div>
		<div> 
			<a href=""> Shop</a>
		</div>
		<div> 
			<a href=""> Knowledge base</a>
		</div>
		<div> 
			<a href="">Start to play</a>
		</div>
		<div> 
			<a href="template">some template page </a>
		</div>
		<div> 
			<a href="">some page </a>
		</div>
		<div>
			Bug:
			<br>
			<span th:text="${bugmsg}"></span>
		</div>
	</body>
	
</html>